Options +FollowSymlinks -MultiViews
RewriteEngine on

RewriteRule ^orders/([-a-zA-Z0-9]+)/?$ edit_order.php?id=$1 [L,NC]

RewriteRule ^best-locations/([-a-zA-Z0-9]+)/?$ best-locations.php?id=$1 [L,NC]

RewriteRule ^restaurants/add add_restaurant.php
RewriteRule ^restaurants/([-a-zA-Z0-9]+)/?$ view_restaurant.php?id=$1 [L,NC]
RewriteRule ^restaurants/edit/([-a-zA-Z0-9]+)/?$ edit_restaurant.php?id=$1 [L,NC]

RewriteRule ^login/([-a-zA-Z0-9]+)/?$ login.php?error=$1 [L,NC]

# to make `/path/index.php` to /path/
RewriteCond %{THE_REQUEST} ^GET\s(.*/)index\.php [NC]
RewriteRule . %1 [NE,R=301,L]

RewriteCond %{THE_REQUEST} ^GET\s.+\.php [NC]
RewriteRule ^(.+)\.php$ /$1 [NE,R=301,L,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.*?)/?$ $1.php [L]