body {
	background-image: url("../img/pizza.jpg");
	background-repeat: repeat-y;
	background-size: 100% auto;
}

.jumbotron {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: auto;
	background-color: rgba(255,255,255,0.7);
	border-style: none;
}

	.jumbotron.panel.radius {
		border-radius: 10px;
		-webkit-border-radius: 10px;
	}

	.jumbotron.panel h4,
	.jumbotron.panel h1,
	.jumbotron.panel h5 {
		text-align: center;
	}

	.jumbotron.panel p {
		margin-top: 3%;
		text-align: center;
	}

	.jumbotron .bottom-aligned {
		margin-top: 6%;
	}

	.jumbotron .centered {
		margin-left: auto;
		margin-right: auto;
		width: 40%;
	}

.button_centered {
	text-align: center;
	margin-left: 21%;
	margin-right: auto;
	width: 80%;
}

.button_centered_large {
	text-align: center;
	margin-left: 20%;
	margin-right: auto;
	width: 60%;
}

.align_right {
	left: 18%;
}

table {
	width: 100%;
}

	td.center {
		text-align: center;
	}

	input.override_radius {
		border-radius: 10px;
		-webkit-border-radius: 10px;

		margin-left: 35%;
		margin-right: 35%;
		width: 30%;
	}