body {
	background-image: url("../img/pizza.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.jumbotron {
	margin-top: 150px;
	margin-left: 400px;
	margin-right: 400px;
	height: 400px;
	background-color: rgba(255,255,255,0.7);
	border-style: none;
}

	.jumbotron.panel.radius {
		border-radius: 10px;
		-webkit-border-radius: 10px;
	}

	.jumbotron.panel h4 {
		text-align: center;
	}

	.jumbotron.panel p {
		margin-top: 20px;
		text-align: center;
	}

	.jumbotron .bottom-aligned {
		margin-top: 90px;
	}


