{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}
<div class="panel radius jumbotron">
	<h4>About the Fastest Food Finder</h4>
	<p>Fastest Food Finder is a service for you to log and view the times you order food for delivery. By providing your location, the restaurant and the times the order was placed and arrived, we can provide recommendations to get you the fastest meal possible at any given time</p>
	<p>This is an <a href="https://github.com/rohankapoorcom/ProjectFastFood">open-source project</a> for <a href="https://wiki.cites.illinois.edu/wiki/display/cs411sp14">CS 411 - Database Systems!</a></p>
</div>
{% endblock %}