<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link href="../resources/css/foundation.css" type="text/css" rel ="stylesheet" />
		<link href="../resources/css/custom.css" type="text/css" rel ="stylesheet" />
		<link rel="stylesheet" href="../resources/css/datetime-local-polyfill.css">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="../resources/css/jquery.datetimepicker.css"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="../resources/js/foundation.min.js"></script> 
		<script type="text/javascript" src="../resources/js/custom.js"></script>
		<script type="text/javascript" src="../resources/js/jquery.datetimepicker.js"></script>

		<title>{% block title %}{% endblock %} | Fastest Food Finder</title>
		{% endblock %}
	</head>
	<body>
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/">Fastest Food Finder</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		  	  <li class="has-dropdown">
		  	  	{% if username %}
		      		<a href="#">{{ username }}</a>
		      		<ul class="dropdown">
		      			<li><a href="/profile/">My Profile</a></li>
		      			<li><a href="/orders/">My Orders</a></li>
		      			<li><a href="/includes/logout.php">Logout</a></li>
	      			</ul>
		      	{% else %}
		      		<a href="#">Account</a>
		      		<ul class="dropdown">
			  	    	<li><a href="/login/">Sign In</a></li>
			  	    	<li><a href='/register/'>Sign Up</a></li>
		        	</ul>
	      		{% endif %}
		      	
		      </li>
		    </ul>

		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li><a href="/about/">About</a></li>
		      <li><a href="#">Best Locations</a></li>
		      <li class="has-dropdown">
		      	<a href="#">Order</a>
		      	<ul class="dropdown">
		      		<li><a href="/order/">Log an Order</a></li>
		      		<li><a href="#">Place an Order</a></li>
		      	</ul>
		      </li>
		    </ul>
		  </section>
		</nav>
		{% block content %}
		<div class="panel radius jumbotron">
			<h4>Welcome to the Fastest Food Finder</h4>
			<p>Fastest Food Finder is designed for hungry college students who need food delivered <i><b>now</b></i>!</p>
			<p>Just enter your location to get started and we'll help you find the quickest food delivered <i><b>period</b></i>.</p>

			<div class="bottom-aligned">
				<div class="row">
					<div class="small-12 columns">
						<a href="#" class="button expand">Find a Location</a>
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						<a href="#" class="button expand">Log an Order</a>
					</div>
					<div class="small-6 columns">
						<a href="#" class="button expand">Place an Order</a>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		<script>
	    	$(document).foundation();

	    	$('#datetimepicker1').datetimepicker({
	    		format:'Y-m-d H:i:s'
	    	});
	    	$('#datetimepicker2').datetimepicker({
	    		format:'Y-m-d H:i:s'
	    	});

	  	</script>
	</body>
</html>