<!DOCTYPE html>
<head>
	<link href="../resources/css/foundation.css" type="text/css" rel ="stylesheet" />
	<link href="../resources/css/custom.css" type="text/css" rel ="stylesheet" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../resources/js/foundation.min.js"></script> 

	<title>Fastest Food Finder</title>
</head>
<body>
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Fastest Food Finder</a></h1>
	    </li>
	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	  	  <li class="has-dropdown">
	      	<a href="#">Account</a>
	      	<ul class="dropdown">
	  	    	<li><a href="#">Sign In</a></li>
	  	    	<li><a href='#'>Sign Up</a></li>
	        </ul>
	      </li>
	    </ul>

	    <!-- Left Nav Section -->
	    <ul class="left">
	      <li><a href="#">About</a></li>
	      <li><a href="#">Best Locations</a></li>
	      <li class="has-dropdown">
	      	<a href="#">Order</a>
	      	<ul class="dropdown">
	      		<li><a href="#">Log an Order</a></li>
	      		<li><a href="#">Place an Order</a></li>
	      	</ul>
	      </li>
	    </ul>
	  </section>
	</nav>

	<div class="panel radius jumbotron">
		<h4>Welcome to the Fastest Food Finder</h4>
		<p>Fastest Food Finder is designed for hungry college students who need food delivered <i><b>now</b></i>!</p>
		<p>Just enter your location to get started and we'll help you find the quickest food delivered <i><b>period</b></i>.</p>

		<div class="bottom-aligned">
			<div class="row">
				<div class="small-12 columns">
					<a href="#" class="button expand">Find a Location</a>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<a href="#" class="button expand">Log an Order</a>
				</div>
				<div class="small-6 columns">
					<a href="#" class="button expand">Place an Order</a>
				</div>
			</div>
		</div>
	</div>

	<script>
    	$(document).foundation();
  	</script>
</body>