{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="panel radius jumbotron">
	<h4>Local Restaurants</h4>

	<div class="row">
		<table>
			<tr>
				<th>Average Wait Time (HH:MM:SS.MS)</th>
				<th>Average Cost</th>
				<th>Name</th>
				<th>Type</th>
			</tr>
			{% for restaurant in restaurants %}
				<tr>
					<td class="center">{{ restaurant.average_wait_time}}</td>
					<td class="center">${{ restaurant.price}}</td>
					<td class="center">{{ restaurant.name }}</td>
					<td class="center"><a href="{{ restaurant.catid }}">{{ restaurant.category }}</a></td>
				</tr>
			{% endfor %}
		</table>
	</div>

</div>
{% endblock %}