{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="panel radius jumbotron">
	<h4>Welcome to the Fastest Food Finder</h4>
	<p>Fastest Food Finder is designed for hungry college students who need food delivered <i><b>now</b></i>!</p>
	<p>Just enter your location to get started and we'll help you find the quickest food delivered <i><b>period</b></i>.</p>

	<div class="bottom-aligned">
		<div class="row">
			<div class="small-12 columns">
				<a href="#" class="button expand">Find a Location</a>
			</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<a href="/order/" class="button expand">Log an Order</a>
			</div>
			<div class="small-6 columns">
				<a href="#" class="button expand">Place an Order</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}