{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="panel radius jumbotron">
	<h4>Local Restaurants</h4>

	<div class="row">
		<table>
			<tr>
				<th>Category</th>
				<th>Name</th>
				<th>Hours</th>
				<th>Delivery</th>
			</tr>
			{% for restaurant in restaurants %}
				<tr>
					<td class="center">{{ restaurant.category }}</td>
					<td class="center">{{ restaurant.name }}</td>
					<td class="center">{{ restaurant.hours }}</td>
					{% if restaurant.delivers == 1 %}
						<td class="center">Yes</td>
					{% else %}
						<td class="center">No</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>

</div>
{% endblock %}